
h1 {
  color: green;
  font: Arial bold;
  font-size: 24px;
  padding: 8px;          
}
label {
  color: green;
  padding: 8px;
  font: Arial;
  font-size: 12px;
}
input {
  width: 200px;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: Arial;
  font-size: 12px;
}
/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}
button{
  background-color: #04AA6D;
  color: white;
  width: 200px;
  padding: 8px;
  margin: 8px 0;
  border: none;
}
button:hover {
    background: #037e51;
}
body {
      font-family: Arial;
      background: #f2f2f2;      
      padding: 40px;
    }
select {
  width: 200px;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: Arial;
  font-size: 12px;
}    
.mandatory {
  color: red;
  /*display:none*/
}

.storedDataColHeader {
  text-align: center;
  color: green;
  padding: 8px;
  font: Arial;
  font-size: 12px;
}
table, td, th {
  border: 1px solid black;
}



th {
  text-align: left;
}